.container {
  padding: 0px;
  margin-top: 3px;
  isolation: isolate;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titleBox {
  h2 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  p {
    color: #777;
    margin-top: 4px;
    font-size: 14px;
    padding-left: 20px;
  }
}

.underline {
  width: 60px;
  height: 3px;
  background: #16a34a;
  border-radius: 2px;
  margin-left: 20px;
}

.viewAll {
  color: #16a34a;
  cursor: pointer;
  font-size: 14px;

  span {
    margin-left: 4px;
  }
  &:hover {
    text-decoration: underline;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  isolation: isolate;
}


@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
  }
}
